.input{
    height: 40px;
    width: 300px;
    border-radius: 10px;
    margin-left: 35px;
    margin-bottom: 30px;
}
.divToAdjust{
    justify-content: center;
    margin: 40px 0px 0px 120px;
    place-items: center;
}
.input::placeholder{
    color: blue;
    margin: auto;
    justify-content: center;
}
.submitButton{
    height: 35px;
    width: 120px;
    margin: 25px 0 0 30px;
    border-radius: 10px;
}